@import '../../assets/sass/Common.scss';

.TimeInput
{
    background-color: rgba(96, 108, 110, 0.15);
    height: 100%;
    padding: 10px 10px;
    color: #606c6e;
    font-size: 30px;
    outline: 0 solid transparent;
    border: 0 solid transparent;
    border-radius: 4px;
    letter-spacing: -0.4px;
    width: 100px;
    margin-left: 16px;
}